@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
@import 'bootstrap/dist/css/bootstrap.min.css';
